.section1 {
  font-weight:lighter;
}

/* .template {
  display:flex;
  flex-direction: row;
} */

/* .wrapper {
  display: flex;
  flex-direction: column; 
} */
.template{
  display: flex;
}

.container1 {
  padding-right: 40px;
  background-color: #f7f5e9;
  margin-top:100px;
}

.container2 {
  padding-right: 40px;
  background-color: #f7f5e9;
  margin-top:100px;
}

h3 {
  font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
}

.headlineImage {
  padding-right: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin:0;
  width: 60%;
}

.topHeadline {
  padding-top:15px;
}

.wrapper {
  padding-bottom: 8px;
  display: flex;
}

.headlineImage {
  padding-bottom: 5px;
}

p {
  font-size: 18px;
  padding-top: 15px;
  font-family:ReithSans,Arial,Helvetica,freesans,sans-serif;
}

.crossBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}